# Required by PySpark MLlib DataFrame-based API.
# No exact package version is imposed here; compatibility is validated at build time.
numpy
pandas
scikit-image
scikit-learn
yellowbrick
lightgbm
xgboost
catboost
optuna
kneed
imbalanced-learn